.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: -20px 22px 9px -24px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: -20px 22px 9px -24px rgba(34, 60, 80, 0.33);
  box-shadow: -20px 22px 9px -24px rgba(34, 60, 80, 0.33);
}

.logoImg {
  width: 110px;
  height: 90px;

  border-radius: 30px
}


.headerLogin a {
  text-decoration: none;

  color: white;
}