.profileImg {
    width: 100%;
    height: 400px;

    object-fit: cover;


}

.personBlock {
    margin-top: 10px;

    padding-left: 20px;

    display: flex;

}

.personImg {
    width: 150px;
    height: 150px;

    margin-right: 20px;

    border-radius: 50px;
}

.personContent {
    font-size: 25px;

    color: #fff;

    font-weight: 600;
}

.personTitle {
    margin-bottom: 10px;

}

.personData p {
    margin-bottom: 10px;
}

.profileForm {
    margin-top: 20px;


    padding-left: 20px;
}