
.training {
    background-image: url("https://webfon.at.ua/_ld/2/242_wood01.jpg");
    background-size: cover;
    background-position: center center;
}
span, p{
    font-size: 24px;
    color:antiquewhite;
}
span{
    color:cornflowerblue;

    margin-right: 20px;
}
.itemList {
    padding: 20px 0px 10px 15px;


}
li{
    display: flex;
    gap:12px;
}
