.app-wrapper {
  box-sizing: border-box;
   height: 100vh;



  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 6% 94%;

  grid-template-areas:
    "header header"
    "sidebar main"
  ;

  justify-content: center;

  //background-image: url('./assets/images/main/bg.jpg');

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;


}