.app-wrapper {
  /* height: 100vh; */



  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 110px 1fr;

  grid-template-areas:
    "header header"
    "sidebar main"
  ;

  justify-content: center;

  background-image: url('./assets/images/main/bg.jpg');

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;


}