
.dialogs {
    background-image: url("https://webfon.at.ua/_ld/2/242_wood01.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
}

.itemList {
    padding: 20px 0px 10px 15px;
}
