
.dialogs {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;

}

.itemList {
    padding: 20px 100px 10px 15px;
}



.messages {
    padding: 20px 15px 10px 10px;


    background-color: #9cffff9e;
}
