.formCommonError {
    width: 220px;

    border:2px solid red;
    border-radius: 10px;

    color:black;
    padding:0.3rem;
    margin:0.3rem;

    background-color: rgb(219, 114, 142);


}
.formCommonError:hover{

    color:white;
}